.navbar{
    display:flex;
    justify-content: space-between;
    align-content: flex-end;
}
.navbar-text{
    align-self: center;
    font-family: "fantasy";
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    letter-spacing: 3.5px;
    text-shadow: 2px, 2px, 2px, black;
    color: white;
}
#login-container{
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    height: 600px;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    justify-content: center;
    overflow: hidden;
    align-content: center;
    background-color: azure;
    position: absolute;
    top: 80px;
    left: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.alert-danger{
    width: 400px;
}

.form-control-label{
    margin-bottom: 5px;
}