<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/signup.css"/>
        <link href="static/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">        
        <title>shop4this! - register</title>
        <style>
            body{
                background-color: #2BB0B3;
            }
            h1{
                color: #616060;
                text-align: center;
                text-transform: capitalize;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            h5{
                color: gray;
                text-align: center;
                font-family: sans-serif;
            }
            p{
                margin-top: 20px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        </style>
    </head>
    <body>
        <div id="signup-container">
            <div class="signup-heading">
                <h1> Sign Up </h1>
                <h5>Please enter your credentials in the form below to be registered.</h5>
            </div>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                Oops!! Unable register your account. Please enter valid credentials
            </div>
            {% endif %}
            <form action="" method="POST">  
                    <div class="form-group">
                        <label class="form-control-label" for="signupInputName">Full Name</label>
                        <input type="text" class="form-control" id="signupInputName" placeholder="Enter full name...">
                    </div>
                    <br/>
                    <div class="form-group">
                      <label class="form-control-label" for="signupInputEmail">Email address</label>
                      <input type="email" class="form-control" id="signupInputEmail" aria-describedby="emailHelp" placeholder="Enter email...">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --> 
                    </div>
                    <br/>
                    <div class="form-group">
                      <label class="form-control-label" for="signupInputPassword">Password</label>
                      <input type="password" class="form-control" id="signupInputPassword" placeholder="Enter your password...">
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="form-control-label" for="signupConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="signupConfirmPassword" placeholder="Confirm your password...">
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
                  </form>
                  <p>Already have an account? <a href="/login"> Sign In  </a> </p>
                  <br/>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="static/dist/js/bootstrap.min.js"></script>
    </body>
</html>
